# MYSQL_DATABASE=antifsad
# MYSQL_ROOT_PASSWORD=Saich@2889
# MYSQL_USER=root
# MYSQL_PASSWORD=Saich@2889
# FRONTEND_URL=https://virtualmed.vercel.app
# JWT_SECRET=ChangeThisJwtSecretToAStrong32ByteValue
# JWT_EXPIRATION_MS=86400000
# JAVA_OPTS=-Xms256m -Xmx512m
